body {
	margin: 0 auto;
	padding: 16px;
	max-width: 38em;
	line-height: 1.6;
	font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Monaco', 'Consolas', monospace;
	color: #ddd;
	background-color: #000;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

hr {
	border: none;
	width: 20%;
	max-width: 6rem;
	height: 1px;
	margin: 0;
	background-color: #22f;
}

a, a:visited {
	color: #368aeb;
}

header, footer {
	margin: 3em 0;
}

.brand {
	font-size: 3rem;
}

.brand-text-2 {
	display: none;
}

.brand-text-3 {
	display: none;
}

@media only screen and (min-width: 800px) {
	.brand {
		overflow: hidden;
	}
	.brand-text-2 {
		display: inline;
		color: #888;
	}
	.brand-text-3 {
		display: inline;
		color: #555;
	}
}

.subbrand {
	text-align: right;
}

.shape-1 {
	display: inline-block;
	border: 1px solid #22f;
	width: 6rem;
	height: 6rem;
	margin: 0 16px 0 0;
}

.shape-1:hover {
	transform: rotate(20deg);
}

.shape-2 {
	width: 50%;
	background-color: #22f;
	height: 1px;
	display: inline-block;
	float: right;
}
